---

---

<footer class="bg-gray-900 text-white py-12 border-t border-gray-800">
    <div class="container mx-auto px-4 md:px-6">
        <div class="grid md:grid-cols-4 gap-8 mb-8">
            <div class="col-span-1 md:col-span-2">
                <div class="flex items-center gap-2 mb-4">
                    <div class="w-24 h-auto">
                        <svg
                            width="612"
                            height="231"
                            viewBox="0 0 612 231"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M288.067 164.651V10.427H334.248C346.325 10.427 355.265 13.0947 361.07 18.4122C366.874 23.7477 369.776 32.8324 369.776 45.6664V52.3537C369.776 53.4533 369.668 55.1657 369.433 57.4909C369.217 59.8162 368.893 61.6367 368.46 62.9526C368.045 64.2684 367.414 65.9087 366.567 67.8374C365.72 69.7661 364.693 71.3523 363.467 72.578C362.241 73.8038 360.691 74.9935 358.816 76.1651C356.942 77.3187 354.779 78.2019 352.327 78.7787C355.878 79.6259 358.907 81.068 361.43 83.1409C363.954 85.2138 365.846 87.3768 367.144 89.666C368.442 91.9552 369.451 94.7852 370.19 98.1379C370.929 101.491 371.362 104.303 371.506 106.556C371.632 108.809 371.704 111.531 371.704 114.685C371.704 122.814 371.146 129.79 370.01 135.594C368.875 141.398 366.928 146.59 364.152 151.132C361.376 155.674 357.519 159.063 352.58 161.298C347.641 163.533 341.53 164.633 334.23 164.633H288.049L288.067 164.651ZM321.36 68.5224H328.336C330.012 68.5224 331.382 68.1619 332.446 67.4589C333.509 66.7559 334.266 65.7285 334.717 64.4126C335.167 63.0968 335.456 61.8891 335.582 60.8256C335.708 59.7621 335.78 58.4823 335.78 57.0042V41.7008C335.78 36.7979 333.365 34.3465 328.516 34.3465H321.36V68.5224ZM321.36 137.253C322.91 137.379 324.046 137.451 324.749 137.451C333.599 137.451 338.015 133.648 338.015 126.023V106.754C338.015 101.851 337.186 98.246 335.546 95.9568C333.906 93.6676 331.274 92.514 327.651 92.514H321.36V137.253Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M459.722 10.427V40.1506H439.479V164.651H405.394V40.1506H385.151V10.427H459.722Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M529.606 164.651L510.823 53.4172V164.651H478.108V10.427H530.002L544.332 90.8737L558.572 10.427H610.953V164.651H577.841V53.4172L560.213 164.651H529.606Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M288.302 216.654V177.395H300.054C303.118 177.395 305.408 178.08 306.886 179.432C308.364 180.784 309.103 183.109 309.103 186.371V188.066C309.103 188.354 309.067 188.787 309.013 189.364C308.959 189.94 308.869 190.427 308.76 190.752C308.652 191.076 308.49 191.509 308.274 191.995C308.057 192.482 307.805 192.897 307.481 193.203C307.156 193.509 306.778 193.816 306.291 194.122C305.804 194.429 305.263 194.645 304.633 194.789C305.534 195.006 306.309 195.366 306.958 195.907C307.607 196.448 308.075 196.988 308.418 197.565C308.76 198.142 309.013 198.863 309.193 199.728C309.373 200.593 309.499 201.296 309.517 201.873C309.535 202.45 309.571 203.135 309.571 203.946C309.571 206.019 309.427 207.785 309.139 209.264C308.85 210.742 308.346 212.057 307.643 213.211C306.94 214.365 305.948 215.23 304.705 215.807C303.461 216.383 301.893 216.654 300.036 216.654H288.284H288.302ZM298.54 192.194C298.973 192.194 299.315 192.104 299.585 191.923C299.856 191.743 300.054 191.491 300.162 191.148C300.271 190.806 300.343 190.499 300.379 190.229C300.415 189.958 300.433 189.634 300.433 189.256V185.362C300.433 184.118 299.82 183.487 298.576 183.487H296.755V192.194H298.54ZM296.774 198.304V209.696C297.17 209.732 297.459 209.75 297.639 209.75C299.892 209.75 301.01 208.777 301.01 206.848V201.945C301.01 200.702 300.793 199.782 300.379 199.205C299.964 198.629 299.297 198.322 298.378 198.322H296.774V198.304Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M314.673 216.654V177.395H332.013V185.002H323.487V192.662H331.67V200.035H323.487V208.975H332.572V216.636H314.655L314.673 216.654Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M350.128 177.395H369.109V184.965H363.954V216.654H355.283V184.965H350.128V177.395Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M382.411 198.845V216.654H373.777V177.395H382.411V191.419H386.503V177.395H395.137V216.654H386.503V198.845H382.411Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M401.428 216.654V177.395H418.768V185.002H410.243V192.662H418.426V200.035H410.243V208.975H419.327V216.636H401.41L401.428 216.654Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M459.433 216.654H451.646L446.87 188.336V216.654H438.542V177.395H451.755L455.396 197.872L459.019 177.395H472.358V216.654H463.922V188.336L459.433 216.654Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M478.648 216.654V177.395H487.03V216.654H478.648Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M502.117 198.791V216.654H493.339V177.395H506.641C508.011 177.395 509.165 177.575 510.138 177.954C511.112 178.332 511.869 178.801 512.427 179.414C512.986 180.027 513.419 180.802 513.743 181.811C514.068 182.82 514.266 183.794 514.374 184.785C514.482 185.777 514.518 186.984 514.518 188.39C514.518 189.129 514.518 189.742 514.482 190.193C514.446 190.643 514.374 191.256 514.212 191.959C514.05 192.662 513.833 193.275 513.563 193.744C513.293 194.212 512.86 194.681 512.301 195.15C511.743 195.618 511.04 195.961 510.247 196.213C511.058 196.357 511.725 196.628 512.247 197.042C512.77 197.457 513.148 197.944 513.383 198.539C513.617 199.133 513.761 199.674 513.852 200.179C513.942 200.684 513.978 201.242 513.978 201.873C513.978 208.362 513.942 213.283 513.888 216.654H505.416V201.35C505.416 200.738 505.362 200.251 505.235 199.89C505.109 199.53 504.875 199.278 504.551 199.115C504.226 198.953 503.884 198.863 503.577 198.827C503.271 198.791 502.784 198.773 502.153 198.773L502.117 198.791ZM502.171 191.995H504.334C505.488 191.995 506.065 190.788 506.065 188.39C506.065 186.804 505.848 185.777 505.38 185.326C504.911 184.875 504.01 184.659 502.64 184.659H502.171V191.995Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M536.275 177.395L540.619 216.654H532.237L531.625 210.742H527.244L526.703 216.654H518.268L522.702 177.395H536.275ZM529.786 184.767H528.993L527.839 203.604H530.939L529.786 184.767Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M566.233 199.746V207.173C566.233 210.597 565.26 213.103 563.331 214.707C561.402 216.311 558.68 217.104 555.202 217.104C552.119 217.104 549.596 216.221 547.667 214.455C545.738 212.688 544.765 210.183 544.765 206.92V188.715C544.765 184.821 545.63 181.901 547.343 179.973C549.055 178.044 551.759 177.07 555.418 177.07C556.914 177.07 558.284 177.251 559.564 177.629C560.843 178.008 561.943 178.549 562.934 179.27C563.926 179.991 564.683 180.946 565.242 182.117C565.8 183.289 566.071 184.641 566.071 186.173V193.095H557.491V188.535C557.491 186.191 556.806 185.002 555.418 185.002C554.589 185.002 554.048 185.254 553.796 185.777C553.543 186.299 553.399 187.02 553.399 187.94V206.488C553.399 207.299 553.579 207.984 553.958 208.579C554.336 209.173 554.823 209.462 555.418 209.462C555.977 209.462 556.463 209.246 556.878 208.813C557.292 208.38 557.491 207.605 557.491 206.488V199.728H566.269L566.233 199.746Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M571.785 216.654V177.395H580.455V208.993H589.377V216.654H571.785Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M593.74 216.654V177.395H611.08V185.002H602.554V192.662H610.737V200.035H602.554V208.975H611.639V216.636H593.721L593.74 216.654Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M26.5748 86.9318H26.6591C29.0616 86.9318 31.169 88.5756 31.7591 90.9148L38.8611 119.197H46.764C49.1876 119.197 51.295 120.84 51.8851 123.201L53.5921 130.071L63.6657 68.7657C64.0872 66.2578 66.2368 64.3822 68.7868 64.3611C71.3157 64.3611 73.5496 66.1103 74.0343 68.6182L84.0025 119.197H91.2099C93.781 119.197 95.9938 121.072 96.4153 123.601L98.902 138.627L105.498 112.263C106.088 109.924 108.196 108.28 110.619 108.28H116.246L120.145 86.131C120.566 83.6863 122.653 81.8739 125.14 81.7896C127.563 81.7264 129.839 83.3492 130.45 85.7516L139.007 119.197H202.799C205.307 119.197 207.456 120.946 207.962 123.412L214.242 153.885L227.519 45.4153C227.835 42.8021 230.048 40.8211 232.703 40.7789H232.766C235.38 40.7789 237.614 42.6967 237.972 45.3099L246.928 107.838C253.862 93.507 258.119 79.1975 258.119 65.6677C258.119 29.3988 228.72 0 192.451 0C162.125 0 136.604 15.4897 129.059 43.4132C121.515 15.4686 95.9938 0 65.6677 0C29.3988 0 0 29.3988 0 65.6677C0 82.1058 6.28016 99.5975 16.0587 116.773L21.538 91.1256C22.0438 88.7231 24.1512 86.995 26.5959 86.9529L26.5748 86.9318Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M226.381 140.988C230.701 135.129 234.747 129.186 238.414 123.18L233.104 86.0467L226.381 140.988Z"
                                fill="#FEFEFE"></path>
                            <path
                                d="M134.876 129.734C132.474 129.734 130.366 128.111 129.776 125.772L126.257 112.031L125.835 114.455C125.393 116.984 123.201 118.817 120.651 118.817H114.708L102.948 165.855C102.337 168.279 100.124 169.881 97.6165 169.838C95.1297 169.733 93.0434 167.9 92.6219 165.434L86.7211 129.734H79.6611C77.1533 129.734 74.9826 127.964 74.4979 125.477L69.3347 99.2603L59.8302 157.088C59.4297 159.554 57.3434 161.409 54.8355 161.493C52.3277 161.577 50.1149 159.912 49.5037 157.489L42.6335 129.713H34.7306C32.307 129.713 30.1996 128.069 29.6306 125.73L27.0595 115.466L24.0248 129.65C59.7459 182.926 123.243 230.09 128.996 230.09C135.319 230.09 172.915 202.525 205.918 165.919L198.457 129.734H134.855H134.876Z"
                                fill="#FEFEFE"></path>
                        </svg>
                    </div>
                </div>
                <p class="text-gray-400 max-w-sm">
                    Be The Miracle. Capacitaciones profesionales de Primeros
                    Socorros, RCP y DEA. Comprometidos con salvar vidas a través
                    de la educación.
                </p>
            </div>

            <div>
                <h4 class="font-bold text-lg mb-4">Secciones</h4>
                <ul class="space-y-2 text-gray-400">
                    <li>
                        <a
                            href="#cursos-personales"
                            class="hover:text-btm-blue transition-colors"
                            >Cursos Personales</a
                        >
                    </li>
                    <li>
                        <a
                            href="#soluciones-empresas"
                            class="hover:text-btm-blue transition-colors"
                            >Para Empresas</a
                        >
                    </li>
                    <li>
                        <a
                            href="#sobre-walter"
                            class="hover:text-btm-blue transition-colors"
                            >Sobre Walter</a
                        >
                    </li>
                    <li>
                        <a
                            href="#contacto"
                            class="hover:text-btm-blue transition-colors"
                            >Contacto</a
                        >
                    </li>
                </ul>
            </div>

            <div>
                <h4 class="font-bold text-lg mb-4">Legales</h4>
                <ul class="space-y-2 text-gray-400">
                    <li>
                        <a
                            href="/politica-de-privacidad"
                            class="hover:text-white transition-colors"
                            >Política de Privacidad</a
                        >
                    </li>
                    <li>
                        <a
                            href="/terminos-y-condiciones"
                            class="hover:text-white transition-colors"
                            >Términos y Condiciones</a
                        >
                    </li>
                </ul>
            </div>
        </div>

        <div
            class="pt-8 border-t border-gray-800 flex flex-col md:flex-row justify-between items-center gap-4 text-sm text-gray-500"
        >
            <p>
                &copy; {new Date().getFullYear()} BTM Capacitaciones. Todos los derechos
                reservados.
            </p>
            <div class="flex items-center gap-1">
                <span>Creado por </span>

                <a
                    href="https://alanova.digital"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        decoding="async"
                        loading="lazy"
                        src="/development_AlaNova.svg"
                        alt="AlaNova Logo"
                        class="h-4 w-auto object-contain brightness-0 invert opacity-50"
                    />
                </a>
            </div>
        </div>
    </div>
</footer>
